@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
body{
    color: rgba(0, 0, 0, 0.85);
}
  

.ant-picker-ok button {
    background: #1677ff;
}
